#modal-background.modal-background.hide{ "data-controller" => "modal", "data-action" => "click->modal#toggle" }
#modal.modal.hide
  .close-modal{ "data-controller" => "modal", "data-action" => "click->modal#toggle" }
  %h3 Add List
  = form_with(model: List.new) do |f|
    = f.label "List Title"
    = f.text_field :title
    = f.submit