.container.content
  .row
    %h1 Welcome to Trackinator
  .row
    %p This is a productivity application that, as of now, allows you to create lists to help stay organized. Feel free to sign up and try it out for yourself.
  .row.center-xs
    .col-xs-2
      .box
        %button Sign Up

= render 'shared/footer'