.container.content.text-center
  .text-center
    %h1 Welcome to <span class="text-highlight">Trackinator</span>
  .text-center.mb-2
    %h3 Trackinator is a productivity application that, as of now, allows you to create lists to help stay organized. Feel free to sign up and try it out for yourself.
  .text-center
    = link_to "SIGN UP", new_user_registration_path, class: ["button", "sign-up-btn"]

= render 'shared/footer'