.sticky.bottom-0
  = link_to "New Item", new_list_list_item_path, class: "flex justify-center sm:hidden w-full bg-gradient-to-r from-cyan-500 to-blue-500 rounded py-4 mt-10"
.list-item-input.bottom-0.w-full{ "data-id" => "list-item-input" }
  = form_with data: { turbo: false } do |f|
    = f.text_field :description, { id: "description", name: "description", placeholder: "Type your next item", class: "w-full bg-dark focus:border-secondary rounded" }
