.sticky.bottom
  = button_to "New Item", {action: :create}, class: ["mobile", "full"]
.list-item-input.sticky.bottom.full.mx-auto{ "data-id" => "list-item-input" }
  = form_with data: { turbo: false } do |f|
    = f.text_field :description, { id: "description", name: "description", placeholder: "Type your next item", class: "full" }
