.w-full.sticky.bottom-0
  = form_with data: { turbo: false }, class: "mb-2" do |f|
    = f.text_field :description, { id: "description", name: "description", placeholder: "Type your next item", class: "w-full bg-dark focus:border-none border-none text-white" }
