.dropdown
  .options.dropdown-btn{"data-controller" => "list-options", "data-action" => "click->list-options#toggle"} ◯ ◯ ◯
  .dropdown-content
    = button_to "Show Completed", list_list_view_setting_path(list_id: params[:list_id], id: settings), method: :put, class: "text-white"
    = button_to "Delete List", list_path(params[:list_id]), method: :delete, class: ["delete-list-link"]
    = button_to "Log Out", destroy_user_session_path, method: :delete, class: ["log-out-link", "text-white"]
