.dropdown
  .options.dropdown-btn{"data-controller" => "list-options", "data-action" => "click->list-options#toggle"} ◯ ◯ ◯
  .dropdown-content
    %a{:href => "#"} Show Completed
    = button_to "Delete List", list_path(params[:list_id]), method: :delete, class: ["btn-link", "delete-list-link"]
    = button_to "Log Out", destroy_user_session_path, method: :delete, class: ["btn-link", "log-out-link"]
    //%a.log-out-link{:href => "#"} Log Out
