= link_to lists_path, class: "h-full" do
  .flex.flex-col.cursor-pointer.justify-evenly.h-full.md:hidden.ml-3
    .w-8.h-px.bg-white.rounded-sm
    .w-8.h-px.bg-white.rounded-sm
    .w-8.h-px.bg-white.rounded-sm
