header {
   height: 70px;
   padding-bottom: 20px;

   form {
      display: none;
   }

   &.container {
      padding-top: 10px;
      padding-bottom: 10px;
   }
}

@media(min-width: 640px) {
   header {
      height: auto;

      form {
         display: block;
      }
   }
}

.logout-btn {
   &:hover {
      color: var(--primary);
      background: transparent;
   }
}

.header-highlight {
   height: 10px;
   background: linear-gradient(to right, var(--primary) 0%, #6653c2 100%);
}

.header-nav {
   background: var(--dark-bg-color);
   height: var(--header-height);
}
