.list-item {
  border: none !important;
  margin-bottom: 0 !important;
  padding: 0 !important;
}

.complete-form {
  height: 20px;
}

.complete-btn {
  margin: 0 !important;
  padding: 0 !important;
  width: 20px !important;
  height: 20px !important;
  border-radius: 20px !important;
  border: solid 1px white !important;
  background: transparent !important;
}

.completed {
  border: none !important;
  background: linear-gradient(to right, #85ca85 0%, #27ac27 100%) !important;
}

.list-item-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #31313e !important;
  background: linear-gradient(to right, #29292f 0%, #2c313f 100%) !important;
  margin-bottom: 10px;
  border-radius: 5px;
  height: 3.2em;
  padding: 2px 10px 2px 10px;
}

.list-item-input {
  max-width: 112rem;
  background: var(--dark-bg-color);
  padding-top: 20px;
  padding-bottom: 20px;
  display: none;
}

@media(min-width: 640px) {
  .list-item-input {
    display: block;
  }
}

.list-item-input {
  form {
    input {
      margin: 0 !important;
    }
  }
}

.dropdown {
  position: relative;
  display: inline-block;

  &:hover {
    .dropdown-content {
      display: block;
    }
  }
}

.dropdown-btn {
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #242729;
  width: 172px;
  right: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  border-radius: 5px;

  a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 5px;

    &:hover {
      background: #292d2f;
    }
  }

  a.log-out-link {
    border-top: solid 1px var(--secondary);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  a.delete-list-link {
    color: #ff6653;
  }
}

