.side-bar {
  width: 250px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: var(--header-height);
  background: #242729;

  .active {
    background: #363636;
  }

  a {
    color: white;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 2px;
    font-weight: 200;
  }

  a:hover {
    color: white;
    background: #363636;
  }
}

.new-list-btn {
  border-top: solid 1px var(--secondary);
  margin-top: 5px;

  button {
    font-weight: 200;
    margin-top: 5px;
    background: transparent;
    border: none;
    padding: 8px;
    width: 100%;
    text-align: left;
  }

  button:hover {
    background: #363636;
  }
}